h264 Profile Level Matching

Quick note, I'm not an h264 expert so if I'm wrong on this please let me know.

I'm running into an issue in which an incoming SDP Offer is rejected by str0m when using an h264 profile `level_idc` lower than the one specified in the supported list. For example the default `enable_h264()` method adds `0x42e01f` (`0x1f` = Level 3.1), but if I have an SDP Offer with `profile-level-id=0x42e01e` (`0x1e` = Level 3.0) it is rejected.

Looking at [RFC 6184 Section 8.2.2](https://datatracker.ietf.org/doc/html/rfc6184#section-8.2.2) it appears that a lower level should be accepted as long as the profile matches exactly, but str0m is currently performing an exact match of the entire `profile-level-id`. 

The sections of the RFC I'm specifically referencing are:
> These media format configuration parameters (except for the level part of profile-level-id) MUST be used symmetrically

and 

> In SDP Offer/Answer, an answer to an offer may indicate a level equal to or lower than the level indicated in the offer.

I know this isn't exactly the scenario (since the client offer is the lower one), but the idea is that if your decoder supports level 3.1 it also naturally supports all levels less than 3.1. In this case the client Offer is asking for that lower level, therefor I believe str0m (which is set to support a higher level) should Answer to accept that lower level as well.

I have implemented this on a fork of the main branch and it is working correctly, both allowing me to connect a producer at a lower level, and receive correctly on a browser. Included it a test which covers these variations.